.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    color: white;
    background-color: var(--dark-blue);
    border-bottom: 0.0625rem solid var(--medium-gray);
    height: 5em;
}

.links {
    display: flex;
    gap: 2.5rem;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.signInWrapper {
    width: 5.6rem;
    height: 3rem;
    margin-right: 2.5rem;
}

.signIn {
    padding: 0.6rem 0.9rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid white;
    background: transparent;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}

.logoImage {
    height: 2rem;
    width: auto;
    display: block;
    padding-left: 2.5rem;
}

