.slider {
    display: flex;
    overflow: hidden;
    background-color: #FCFCFD;
    padding: 2rem 0;
}

.sliderContent {
    display: flex;
    gap: 3rem;
    animation: scroll 40s linear infinite;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.sliderItem {
    font-family: "Urbanist", sans-serif;
    color: #98A2B3;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.15%;
    border: 1px solid #E4E7EC;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 16px;

    white-space: nowrap;
    flex-shrink: 0;
}

@keyframes scroll {
    to {
        transform: translateX(-50%);
    }
}